<body class="bg-light">
    <div class="container">
        <img class="ax-center my-10 w-24" src="https://www.workbeyondcoding.com/img/2020/09/coding.webp" />
        <div class="card p-6 p-lg-10 space-y-4">
            <h1 class="h3 fw-700">
               
                <br>
                CpBloggersTsec Post Alert
            </h1>
            <p>
                Hi <%= value.second.name%> Sir/Mam,
            </p>
            <br>
            <p>
                Add Friend Request From <%= value.first.name %>
                email Id : <%=value.first.email%>
            </p>
            <br>
        
            <br>
            <p>
                Thanku Sir!
            </p>
            <a class="btn btn-primary p-3 fw-700" href="http://localhost:7000/">Visit Website</a>
        </div>
        <!-- <img class="ax-center mt-10 w-40" src="https://assets.bootstrapemail.com/logos/light/text.png" /> -->
        <div class="text-muted text-center my-6">
            CpBloggersTsec <br>
            Tesc Bandra, Mumbai<br>
            Maharastra State, India <br>
        </div>
    </div>
</body>